<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Area</th>
            <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                <div *ngIf="editMode">
                    <input type="text">
                </div>
                <div *ngIf="!editMode">
                    {{ user.name }}
                </div>

            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.pass }}</td>
            <td><button class="btn btn-warning" (click)="showEdit()">Edit</button></td>
        </tr>
    </tbody>
</table>