<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/list">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/create">Enroll</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/foadShariat6">Foad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/viewChild">View Child</a>
  </li>
</ul>
